*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
}

h1{
    font-size: 3em;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 94vh;
    width: 35vw;
}

.titulo_dicas{
    font-size: 1.4em;
}

.dicas{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 0.85em;
    width: 90%;
    height: 95%;
}

.cruzadinha{
    justify-content: space-evenly;
    width: 65vw;
    height: 94vh;
}

#palavra{
    background-color: aliceblue;
    border: 1px solid black;
}